@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

main {
	margin: 0 auto;
	max-width: 90%;
    padding: 50px 30px;
}

:root {
    --color-1: rgb(121, 86, 177); 
    --color-2: rgb(122, 183, 125);
    --color-3: rgb(40, 37, 100);
    --color-4: rgb(102, 30, 2);
    --color-5: rgb(7, 237, 199);
    --color-6: rgb(5, 127, 131);
}

body {
    background: var(--color-3);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Jost', sans-serif;
}

nav li {
    cursor: pointer;
}

input {
    font-size: 20px;
    margin: 10px;
    padding: 0.25rem;
    border: 4px solid var(--color-2);
    outline: none;
    border-radius: 10px;
    transition: box-shadow 0.2s;
    max-width: fit-content;
}

.category-style {
    color: var(--color-2);
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 40px;
}

.category-style:hover {
    color: rgb(247, 0, 255);
}


.about-me-p {
    text-align: center;
    color: var(--color-2);
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 40px;
}
 
#profile-title {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.px-1 {
    padding-right: calc(1rem * 0.5);
    padding-left: calc(1rem * 0.5);
    background-color: var(--color-1);
}

.my-2 {
    margin-right: calc(1rem);
    margin-left: calc(1rem);
}

nav ul {
    display: inline-block;
    list-style-type: none;
    color: var(--color-2);
    padding-top: 40px;
}

.nav-position {
    align-content: center;
}

.name-highlight {
    color: rgb(215, 218, 221);
    font-weight: 1000;
    font-size: 40px;
}
.project-image {
    width: 500px;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 50px;
    /* cursor: pointer; */
    border: 10px solid rgb(1, 109, 23);
    border-radius: 20px;
}
.project-margin {
    margin-right: auto;
    margin-left: auto;
}

label {
    font-weight: 500px;
    font-size: 30px;
    font-family: 'Jost';
    display: block;
}

textarea {
    width:fit-content;
    padding: 10px;
    border: 5px solid var(--color-2);
    border-radius: 10px;
}

button {
	background: rgb(75, 116, 170);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 25px;
	font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
	margin-bottom: 40px;
	padding: 20px;	
}

.button-submit:hover {
    background-color: var(--color-2);
    color: black;
}

#form-greet {
    font-size: 40px;
    font-family: "Jost";
    color: var(--color-2);
    font-weight: 500;
    text-align: center;
    margin: 20px;
    
}

#contact-form {
   text-align: center;
}

.error-text {
    font-family: 'Jost';
}

.linkedIn-icon {
    max-width: 100%;
    height: 65px;
    margin-left: 10px;
}

.resume-button {
    background-color: var(--color-2);
    display: block;
    align-items: center;
    margin: 10% auto;
}

.resume-download-text {
    color: black;
}

.portfolio-link-button {
    background-color: var(--color-2);
    display: block;
    align-items: center;
    margin: auto;
}

.portfolio-link-text {
    color: rgb(255, 255, 255);
}

.footer-text {
    align-items: center;
    padding: 50px 30px;
}

h4 {
    margin-left: 40.5%;
    display: block;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: var(--color-2)
}